---
layout: default
title: Blog
---

<div class="blog-index">
  <div class="header">
    <div class="container">
      {% include _links.html %}

      <a href="/">
        <div class="headshot">
          <img src="/images/avand-2016-10.jpg" width="64" height="64" />
        </div>

        <span class="salutation ubuntu-500">
          Avand
        </span>
      </a>

    </div>
  </div>

  <div class="container">
    {% for post in site.posts %}
      <div class="post">
        <a href="{{ post.url }}">
          <span class="date meta">
            {{ post.date | date: "%b %Y" }}
          </span>

          <div class="title ubuntu-500">
            {{ post.title }}
          </div>

          <div class="snippet">
            {{ post.content | strip_html | truncatewords: 50 }}
          </div>
        </a>
      </div>
    {% endfor %}

    <div class="subscribe">
      <a href="http://feeds.avandamiri.com/avand" class="meta">
        Subscribe via RSS &raquo;
      </a>
    </div>
  </div>
</div>
