---
layout: default
title: Blog
---

<div class="blog-index">
  <div class="header">
    <div class="container">
      {% include _links.html %}

      <a href="/">
        <div class="headshot">
          <img src="http://graph.facebook.com/avand/picture?height=42&width=42" width="42" height="42" />
        </div>

        <span class="salutation">
          Avand
        </span>
      </a>

    </div>
  </div>

  <div class="container">
    {% for post in site.posts %}
      <div class="post">
        <a href="{{ post.url }}">
          <span class="date meta">
            {{ post.date | date: "%b %Y" }}
          </span>

          <div class="title">
            {{ post.title }}
          </div>

          <div class="snippet">
            {{ post.content | strip_html | truncatewords: 50 }}
          </div>
        </a>
      </div>
    {% endfor %}

    <div class="subscribe">
      <a href="http://feeds.avandamiri.com/avand">
        <span class="rss ss-icon">RSS</span>
        <span class="meta">Subscribe via RSS</span>
      </a>
    </div>
  </div>
</div>
