---
title: Hello
layout: default
---

<div class="homepage">
  <div class="left-column">
    <div class="headshot">
      <img src="/images/avand-2016-10.jpg" width="42" height="42" />
    </div>

    <h1 class="salutation ubuntu-500">
      Hello, I’m Avand.
    </h1>

    {% include _bio.html %}

    {% include _links.html %}
  </div>

  <div class="right-column">
    <h1>The Greatest Hits</h1>

    <ul>
      <li>
        <div class="meta">Apr 2022</div>
        <a href="https://medium.com/@avand/budget-to-a-free-house-7b53eff6ac89" class="ubuntu-500">
          Budget to a “Free House”
        </a>
        <p>
          The story of purchasing my first home and how budgeting made it possible. As I drove over the Bay Bridge, returning to San Francisco from the Sierra foothills, I stared admiringly…
        </p>
      </li>
      <li>
        <div class="meta">Apr 2022</div>
        <a href="https://medium.com/airbnb-engineering/hacking-human-connection-the-story-of-awedience-ebf66ee6af0e" class="ubuntu-500">
          Hacking Human Connection: The Story of Awedience
        </a>
        <p>
          This is the story of how Airbnb employees stayed connected during a time they had never felt more apart. In this post, you’ll learn how an idea turned into an internal product…
        </p>
      </li>
      <li>
        <div class="meta">Jun 2016</div>
        <a href="https://medium.com/@avand/one-mans-search-for-the-perfect-job-90caad5d5b9f#.7ymm4tyl6" class="ubuntu-500">
          One man’s search for the perfect job
        </a>
        <p>
          As we wrapped up Sunday night dinner at my apartment, my neighbor remembered, “hey, it’s Pi Day tomorrow, we should head down to Pi Bar for a few slices to celebrate…
        </p>
      </li>
      <li>
        <div class="meta">May 2016</div>
        <a href="https://medium.com/@avand/thirty-4a007b1e9332#.mcimws8ul" class="ubuntu-500">
          Thirty
        </a>
        <p>
          Ever since I was 15, I wanted to be 30. Nobody listens to you when you’re a kid. You have no means and no experience so you’re doing everything for the first time. And unless…
        </p>
      </li>
      <li>
        <div class="meta">Apr 2016</div>
        <a href="https://medium.com/hover-state/hypothesis-driven-development-bb6aa77e1677#.ms7yb5eza" class="ubuntu-500">
          Hypothesis-driven development
        </a>
        <p>
          I’ll bet that you can’t explain why you’re working on whatever it is you’re working on right now. Scary, right? Because we know that the why of what we’re doing is perhaps…
        </p>
      </li>
      <li>
        <div class="meta">Nov 2013</div>
        <a href="2013/11/20/momentum.html" class="ubuntu-500">
          Momentum
        </a>
        <p>
          Startups move fast. They’re young, loud, and disruptive – a room full of excited twenty-somethings willing to burn the midnight oil to get a release out the door. Startups are enticing…
        </p>
      </li>
    </ul>

    <p class="more">
      Follow along on <a href="https://medium.com/@avand">Medium</a> or
      read more from the <a href="blog.html">archives</a>.
    </p>
  </div>
</div>
