<p>
  I’m a software engineer with an eye for design that lives in San Francisco.
  I built <a href="http://www.sqoot.com/" target="_blank">Sqoot</a>,
  am now I’m building <a href="http://www.taskrabbit.com/" target="_blank">TaskRabbit</a>,
  and transform thinkers into creators at
  <a href="https://generalassemb.ly/instructors/avand-amiri/1341/" target="_blank">
  General Assembly</a>.
</p>

<p>
  I <a href="http://www.rdio.com/people/avand">listen to</a> and
  <a href="http://soundcloud.com/avand">play</a> a lot of music;
  I eat and cook great food. I'm always up for something new and
  share my thoughts on my <a href="/blog.html">blog</a>.
</p>
