<p class="bio">
  I’ve been building and designing products for a
  <a href="resume.html">decade</a>. For the last couple years, I was
  Director of Product at <a href="http://mysteryscience.com">Mystery Science</a>
  working alongside a small team of educators and creators to revolutionize how
  kids learn science. I was born in Boston, grew up in Salt Lake City, spent
  several years in Chicago, and now call San Francisco my home. When I’m not at
  my computer, I ride my bicycle, climb, drool over BMWs from the 70’s, troll
  Craigslist in search of a van I can convert into a camper, and take pictures
  both <a href="http://photos.avandamiri.com" target="_blank">personally</a> and
  <a href="http://irishgoodbyesf.com" target="_blank">professionally</a>.
</p>
