<p class="bio">
  I’ve been building and designing products for a <a href="resume.html">decade</a>. Today, I’m the
  Director of Product at <a href="http://mysteryscience.com">Mystery Science</a> working alongside
  a small team of educators and scientests to revolutionize how kids learn science. I was born
  Boston, grew up in Salt Lake City, spent several years in Chicago, and now call San Francisco
  <a href="http://bit.ly/106sanchez" target="_blank">my home</a>. When I’m not at my computer, I
  like to ride bikes and make photographs <a href="http://photos.avandamiri.com" target="_blank">
  personally</a> and <a href="http://irishgoodbyesf.com" target="_blank">professionally</a>.
</p>
