<div class="links">
  <a href="https://twitter.com/avand" class="twitter ss-icon ss-social-circle" title="Twitter">Twitter</a>
  <a href="https://www.facebook.com/avand" class="facebook ss-icon ss-social-circle" title="Facebook">Facebook</a>
  <a href="https://github.com/avand" class="github ss-icon ss-social-circle" title="GitHub">GitHub</a>
  <a href="http://dribbble.com/avand" class="dribbble ss-icon ss-social-circle" title="Dribbble">Dribbble</a>
  <a href="http://photos.avandamiri.com" class="tumblr ss-icon ss-social-circle" title="Tumblr">Tumblr</a>
  <a href="http://www.rdio.com/people/avand/" class="rdio ss-icon ss-social-circle" title="Rdio">Rdio</a>
  <a href="https://soundcloud.com/avand" class="soundcloud ss-icon ss-social-circle" title="SoundCloud">SoundCloud</a>
  <a href="https://vimeo.com/avand" class="vimeo ss-icon ss-social-circle" title="Vimeo">Vimeo</a>
  <a href="/blog.html" class="rss ss-icon ss-social-circle" title="Blog">RSS</a>
  <a href="mailto:avand@avandamiri.com" class="email ss-icon ss-social-circle" title="Email">Email</a>
</div>
