body#blog div.box {
  padding: 18px;
  border-bottom: 22px solid black;
}
body#blog div.box h1 {
  color: #fff;
  font-size: 18px;
  line-height: 18px;
  margin-bottom: 10px;
}
body#blog div#post {
  width: 594px;
  float: left;
}
body#blog div#post h2 {
  color: #fff;
  font-size: 16px;
  line-height: 16px;
  margin-bottom: 10px;
  margin-top: 20px;
}
body#blog div#post p {
  margin-bottom: 10px;
}
body#blog div#post img {
  border: 8px solid #000;
  display: block;
  margin: 0 auto;
}
body#blog div#post img.no-border {
  border: none;
}
body#blog div#post table {
  margin-bottom: 10px;
  width: 100%;
}
body#blog div#post .right {
  margin: 0 0 15px 15px;
}
body#blog div#post .left {
  margin: 0 15px 15px 0;
}

body#blog div#post div.highlight {
  margin: 0 12px 12px;
  padding: 8px;
}
body#blog div#post blockquote {
  font-size: 1.2em;
  margin: 0 0 10px 12px;
  padding: 14px 0 4px 12px;
  border-left: 8px solid black;
}
body#blog div#post table.results td {
  padding: 2px;
}
body#blog div#post table.results td.percent var {
  color: white;
  text-shadow: none;
}
body#blog div#details,
body#blog div#related-posts,
body#blog div#subscribe,
body#blog div#comments {
  float: right;  
  background: #1f1f1f;
  width: 220px;
  margin-bottom: 22px;
  padding: 10px;
}
body#blog div#details {
  padding-left: 40px;
}
body#blog div#details p {
  color: #767676;
  font-family: Verdana;
  font-size: 10px;
}
body#blog div#details p strong {
  font-weight: normal;
  color: #363636;
}
body#blog div#subscribe,
body#blog div#related-posts,
body#blog div#comments {
  clear: right;
}
body#blog div#comments,
body#blog div#subscribe {
  background-repeat: no-repeat;
  background-position: 200px 10px;
  min-height: 22px;
  padding-top: 18px;
}
body#blog div#subscribe {
  background-image: url(/images/posts/rss.png);
}
body#blog div#comments p {
  color: #999999;
  margin-top: 12px;
}
body#blog div#comments p a {
  color: #fff;
}
body#blog div#comments {
  background-image: url(/images/posts/hn.png);
}
body#blog div#related-posts h2,
body#blog div#subscribe h2,
body#blog div#comments h2 {
  font-size: 16px;
  line-height: 16px;
}
body#blog div#related-posts h2 {
  margin-bottom: 8px;
}
body#blog div#related-posts p a {
  color: #999999;
}
body#blog div#comments p a:hover,
body#blog div#related-posts p a:hover {
  border-bottom: 1px solid red;
}
body#blog th {
  font-weight: bold;
}
