html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, code,
del, dfn, em, img, q, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}
em {
  font-style: italic;
}

/* Tables still need 'cellspacing="0"' in the markup. */
table { border-collapse: separate; border-spacing: 0; }
caption, th, td { text-align: left; font-weight: normal; }
table, td, th { vertical-align: middle; }

/* Remove possible quote marks (") from <q>, <blockquote>. */
blockquote:before, blockquote:after, q:before, q:after { content: ""; }
blockquote, q { quotes: "" ""; }

/* Remove annoying border on linked images. */
a img { border: none; }

html, a {
  color: white;
}
html {
  background: black;
  font-family: "Lucida Grande", Arial, sans-serif;
  font-size: 12px;
  line-height: 20px;
  height: 101%;
}
body {
  line-height: 1.7; 
}
a {
  color: inherit;
  text-decoration: none;
}
code {
  font-family: "Courier New";
  font-size: 12px;
}
li {
  list-style-type: square;
}
div#header,
div#menu,
div#content {
  margin: 0 auto;
  width: 900px;
  margin-top: 22px;
}
div#red-line {
  height: 8px;
  width: 100%;
  background: #C81919;
}
div#red-line div#black-square {
  height: 8px;
  width: 9px;
  background: black;
  position: absolute;
  top: 0;
  left: 385px;
}
div#header {
  background: black url('../images/common/avand.png') no-repeat;
  height: 33px;
  text-indent: -3000px;
  margin-top: 30px;
}
div#menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
  line-height: 14px;
}
div#menu ul li {
  margin: 0 22px 0 0;
  display: inline;
}
div#menu ul li a {
  color: #636363;
}
div#menu ul li a.active {
  color: #FFF;
}
div#content {
  margin-bottom: 50px;
}
div#content div.box {
  background: #303030;
  color: #999999;
  text-shadow: 0 1px 1px #000000;
}
div#content div.box a {
  color: #DDDDDD;
}
div#content div.box a:hover {
  border-bottom: 1px solid red;
}

.right {
  float: right !important;
}
.left {
  float: left !important;
}
.hidden {
  display: none !important;
}
