body#deals div.box {
  padding: 18px;
  border-bottom: 22px solid black;
}
body#deals div.box h1 {
  color: #fff;
  font-size: 18px;
  line-height: 18px;
  margin-bottom: 10px;
}
body#deals #left {
  width: 678px;
}
body#deals #right {
  float: right;
  width: 200px;
}
body#deals #right .box {
  width: 200px;
}
body#deals #subscribe label,
body#deals #subscribe input {
  margin-top: 1em;
  display: block;
}
