body#resume div#content h1,
body#resume div#content h2,
body#resume div#content h3 {
  color: white;
}
body#resume div#content h1 {
  font-size: 18px;
  line-height: 18px;
  background: #5E5E5E;
  padding: 10px 16px;
}
body#resume div#content div.section {
  margin: 0 0 22px 16px;
  padding: 10px 16px;
}
body#resume div#content h2 {
  font-size: 16px;
  line-height: 30px;
}
body#resume div#content div.section p.technologies,
body#resume div#content div.section h2 span.url,
body#resume div#content div.section h2 span.location,
body#resume div#content div.section h3 span.date {
  font-size: 11px;
  color: #D5D5D5;
}
body#resume div#content div.section h2 span.url a {
  color: #D5D5D5;
}
body#resume div#content div.section h3 {
  font-size: 14px;
  line-height: 26px;
}
body#resume div#content div.section h2 span.url,
body#resume div#content div.section h2 span.location {
  line-height: 30px;
  float: right;
  margin-left: 14px;
}
body#resume div#content div.section h3 span.date {
  float: right;
  line-height: 26px;
}
