.headshot,
.headshot img {
  width: 100px;
  height: 100px;
  margin: 0 auto;
}
.headshot {
  border-width: 3px;
  margin-top: 20px;
}
.salutation {
  margin-top: 20px;
  text-align: center;
  font-size: 36px;
  color: #343838;
}

#toc {
  max-width: 640px;
  margin: 20px auto 0;
  padding: 0;
}
#toc li {
  list-style: none;
  text-align: center;
}

section {
  margin: 30px auto;
  max-width: 640px;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  border: 1px solid #cacdcd;
  overflow: hidden;
  background-color: white;
}
h1 {
  background: #008C9E;
  color: white;
  margin-top: 0;
  padding: 10px 20px;
  text-shadow: none;
  font-size: 1.125em;
  font-weight: 600;
}
article {
  margin: 10px 20px;
}
h2 {
  font-size: 1.375em;
}
h2 > span:last-child,
time {
  font-weight: normal;
  font-size: .725em;
  float: right;
  opacity: 0.8;
  margin-left: 15px;
}
h3 {
  font-weight: 600;
  margin-bottom: 10px;
}
.technologies {
  margin-bottom: 10px;
  overflow: auto;
}
.technology {
  font-size: .75em;
  background-color: rgba(0, 140, 158, 0.1);
  margin-right: .625em;
  padding: 2px 6px;
  margin: 0 .5em 4px 0;
  border-radius: 2px;
  line-height: 1.6em;
  float: left;
}
article:not(:last-child) {
  margin-bottom: 30px;
}
article > p,
article li:not(:last-child) {
  margin: .625em 0;
}
li li {
  font-size: 0.9em;
  line-height: 1.4em;
  margin: .4em 0;
}
abbr {
  border: 0;
}
cite {
  display: block;
  text-align: right;
  margin-top: 0.2em;
}
cite::before {
  content: "— "
}
blockquote:not(:last-child) {
  margin-bottom: 1em;
}

@media print {
  html,
  h1,
  .technology {
    background: white;
  }
  html a {
    color: #343838;
  }
  html a:first-of-type {
    text-decoration: none;
  }
  .headshot,
  #toc,
  #open-source-contributions,
  #presentations {
    display: none;
  }
  .salutation {
    font-size: 24px;
  }
  section {
    box-shadow: none;
    border-radius: 0;
    border-width: 0;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 12px;
    line-height: 18px;
  }
  h1 {
    color: #343838;
    border-bottom: 1px solid #343838;
    font-size: 0.8em;
    padding: 2px 10px;
    text-transform: uppercase;
    margin-top: 10px;
  }
  .technologies {
    margin: 0;
  }
  .technology {
    padding: 0;
  }
  .technology:not(:last-child)::after {
    content: ","
  }
  article:not(:last-child) {
    margin-bottom: 20px;
  }
  article > p,
  article li:not(:last-child) {
    margin: .2em 0;
  }
  article ul {
    padding-left: 25px;
  }
  #references {
    page-break-before: always;
  }
}
