html {
  color:       #343838;
  font-family: "Open Sans", sans-serif;
  font-size:   16px;
  font-weight: 400;
  line-height: 28px;
  background:  #E6E6E6 url('/images/common/background.png'); }
  html em {
    font-style: italic; }
  html a {
    color: #008C9E;
    text-decoration: none;
    -webkit-transition: color .6s linear;
    -moz-transition:    color .6s linear;
    transition:         color .6s linear; }
  html a:hover {
    -webkit-transition: color .2s linear;
    -moz-transition: color .2s linear;
    transition: color .2s linear;
    color: #00B4CC; }
  html pre,
  html code {
    font-family: "Inconsolata", "Monaco", "Courier New", monospace;
  }
  html pre {
    font-size: 16px;
    line-height: 20px;
    display: block;
    overflow-x: scroll;
    width: 100%; }

.meta {
  font-weight: 300;
  text-transform: uppercase; }

.ubuntu-500 {
  font-weight: 500;
  font-family: "Ubuntu", sans-serif; }

.container {
  margin: 0 auto;
  width: 670px;
  overflow: hidden; }

.content {
  text-shadow: 0 1px 0px #FFF;
  margin-bottom: 3em; }

.links { }
  .links a {
    margin: 8px 4px;
    color: #7F7F7F;
    -webkit-transition: color .4s linear;
    -moz-transition: color .4s linear;
    transition: color .4s linear; }
  .links a:hover {
    -webkit-transition: color .2s linear;
    -moz-transition: color .2s linear;
    transition: color .2s linear; }
  .links .dribbble:hover,
  .links .dribbble:active   { color: #E24FAC; }
  .links .email:hover,
  .links .email:active      { color: #000000; }
  .links .facebook:hover,
  .links .facebook:active   { color: #3B5998; }
  .links .github:hover,
  .links .github:active     { color: #3C3C3C; }
  .links .linkedin:hover,
  .links .linkedin:active   { color: #4875B4; }
  .links .rdio:hover,
  .links .rdio:active       { color: #006ed2; }
  .links .rss:hover,
  .links .rss:active        { color: #008C9E; }
  .links .soundcloud:hover,
  .links .soundcloud:active { color: #FF3300; }
  .links .twitter:hover,
  .links .twitter:active    { color: #3098E6; }
  .links .vimeo:hover,
  .links .vimeo:active      { color: #1ab7ea; }

.headshot {
  border-style: solid;
  border-color: white;
  border-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  margin: 3px;
  border-radius: 50%;
  overflow: hidden; }

.homepage {
  text-align: center;
  margin-top: 56px; }
  .homepage .headshot,
  .homepage .headshot img {
    height: 200px;
    width: 200px; }
  .homepage .headshot {
    border-width: 5px;
    margin-bottom: 28px;
    margin-left: auto;
    margin-right: auto; }
  .homepage p {
    font-size: 18px;
    margin: 14px 0; }
  .homepage .salutation {
    font-size: 28px;
    line-height: 42px; }
  .homepage .valediction {
    font-weight: 600; }
  .homepage .links {
    font-size: 32px;
    line-height: 32px;
    margin-top: 16px; }

.blog-index { }
  .blog-index .header {
    margin-bottom: 14px;
    padding: 14px 0; }
    .blog-index .header .headshot,
    .blog-index .header .headshot img {
      height: 42px;
      width:  42px; }
    .blog-index .header .headshot {
      float: left;
      margin-right: 20px;
      border-width: 2px; }
    .blog-index .header .salutation {
      -webkit-transition: color .6s linear;
      -moz-transition: color .6s linear;
      transition: color .6s linear;
      font-size: 28px;
      line-height: 46px;
      color: #7F7F7F; }
    .blog-index .header a:hover .salutation {
      -webkit-transition: color .2s linear;
      -moz-transition: color .2s linear;
      transition: color .2s linear;
      color: #008C9E; }
    .blog-index .header .links {
      float: right;
      font-size: 22px;
      line-height: 42px;
      margin-top: 3px; }
  .blog-index .post {
    clear: both;
    margin-bottom: 28px; }
  .blog-index .post .title,
  .blog-index .post .date {
    line-height: 28px; }
  .blog-index .post .title {
    font-size: 18px;
    line-height: 28px;
    margin: 0 80px 7px 0; }
  .blog-index .post .date,
  .blog-index .post .snippet {
    color: #999; }
  .blog-index .post .date {
    font-size: 14px;
    float: right; }
  .blog-index .post .snippet {
    font-weight: 400; }
  .blog-index .subscribe {
    text-align: right; }

.blog-show { }
  .blog-show .post {
    margin-bottom: 34px;
    padding-bottom: 22px;
    box-shadow: 0 14px 28px -28px rgba(0, 0, 0, 0.7); }
    .blog-show .post h1, .blog-show .post h2, .blog-show .post h3,
    .blog-show .post h4, .blog-show .post h5, .blog-show .post h6,
    .blog-show .post th {
      font-family: "Ubuntu", sans-serif;
      font-weight: 500; }
    .blog-show .post h1 {
      text-align: center;
      font-size: 36px;
      line-height: 42px;
      margin: 35px 0 14px; }
    .blog-show .post h2 {
      font-size: 26px;
      line-height: 35px;
      margin-bottom: 14px; }
    .blog-show .post h3 {
      font-size: 18px;
      line-height: 28px; }
    .blog-show .post h4,
    .blog-show .post h5,
    .blog-show .post h6 {
      font-size: 14px;
      line-height: 21px; }
    .blog-show .post p {
      text-align: justify; }
    .blog-show .post p a {
      font-weight: 600; }
    .blog-show .post hr {
      display: block;
      height: 1px;
      border: 0;
      border-top: 1px solid #CCC;
      border-bottom: 1px solid white;
      margin: 28px 0;
      padding: 0; }
    .blog-show .post img,
    .blog-show .post object {
      display: block;
      border: 10px solid #FFF;
      box-shadow: 0 0 3px #7F7F7F;
      border-radius: 3px;
      -moz-border-radius: 3px;
      -webkit-border-radius: 3px;
      margin-left: auto;
      margin-right: auto;
      max-width: 644px; }
    .blog-show .post p,
    .blog-show .post .highlight,
    .blog-show .post table,
    .blog-show .post img,
    .blog-show .post object,
    .blog-show .post .highlight {
      margin-bottom: 14px }
    .blog-show .post .left {
      float:  left;
      margin: 0 30px 10px 0; }
    .blog-show .post .right {
      float:  right;
      margin: 0 0 10px 30px; }
    .blog-show .post blockquote {
      font-style: italic; }
    .blog-show .post .highlight,
    .blog-show .post blockquote {
      margin-right: 20px;
      margin-left: 20px; }
    .blog-show .post .byline {
      text-align: center;
      font-size: 14px;
      font-weight: 300;
      line-height: 21px;
      margin-bottom: 35px;
      color: #999; }
    .blog-show .post .byline a {
      font-weight: 400; }
    .blog-show .post .footer {
      margin-top: 20px;
      min-height: 28px; }
      .blog-show .post .footer .comments {
        line-height: 20px;
        float: right; }
  .blog-show .about-the-author {
    line-height: 21px; }
    .blog-show .about-the-author .salutation,
    .blog-show .about-the-author .bio,
    .blog-show .about-the-author .valediction,
    .blog-show .about-the-author .links {
      margin-left: 129px; }
    .blog-show .about-the-author .headshot,
    .blog-show .about-the-author .headshot img {
      height: 98px;
      width: 98px; }
    .blog-show .about-the-author .headshot {
      float: left;
      margin: 0 20px 0 3px;
      border-width: 4px; }
    .blog-show .about-the-author p {
      font-size: 13px;
      font-weight: 300; }
    .blog-show .about-the-author .bio p {
      display: inline; }
    .blog-show .about-the-author p a {
      font-weight: 400; }
    .blog-show .about-the-author .salutation {
      margin-bottom: .4em; }
    .blog-show .about-the-author .valediction {
      margin-top: 1em; }
    .blog-show .about-the-author .links {
      clear: both;
      margin-top: 18px;
      font-size: 28px;
      line-height: 36px; }

/* iPhone (portrait & landscape) */
@media only screen and (max-device-width: 480px) {
  .container {
    width:  90%;
    margin: 0 5%; }

  .blog-index .links {
    display: none; }

  .blog-show .post img {
    max-width: 260px; }

  .blog-show .post .footer .comments {
    line-height: 28px;
    float: none; }
  .blog-show .about-the-author {
    text-align: left; }
    .blog-show .about-the-author .salutation,
    .blog-show .about-the-author .bio,
    .blog-show .about-the-author .valediction,
    .blog-show .about-the-author .links {
      margin-left: 0; }
    .blog-show .about-the-author .headshot,
    .blog-show .about-the-author .headshot img {
      height: 120px;
      width: 120px; }
    .blog-show .about-the-author .headshot {
      float: none;
      margin: 0 auto;
      border-width: 4px; }
    .blog-show .about-the-author .salutation {
      text-align: center; }
    .blog-show .about-the-author p {
      margin: 14px 0; }
    .blog-show .about-the-author .links {
      text-align: center; }

  .homepage {
    margin-top: 42px; }
    .homepage .links a {
      display: inline-block; }
}

