html {
  color:       #343838;
  font-family: "Atkinson Hyperlegible", sans-serif;
  font-weight: 400;
  font-style:  normal;
  font-size:   18px;
  line-height: 1.7;
  background:  #E6E6E6 url('/images/common/background.png'); }
  html em {
    font-style: italic; }
  html a {
    color: #008C9E;
    text-decoration: none;
    -webkit-transition: color .6s linear;
    -moz-transition:    color .6s linear;
    transition:         color .6s linear; }
  html a:hover {
    -webkit-transition: color .2s linear;
    -moz-transition: color .2s linear;
    transition: color .2s linear;
    color: #00B4CC; }
  html pre,
  html code {
    font-family: "Inconsolata", "Monaco", "Courier New", monospace;
  }
  html pre {
    font-size: 16px;
    line-height: 20px;
    display: block;
    overflow-x: scroll;
    width: 100%; }

abbr {
  border-bottom: 1px dotted #343838; }

.meta {
  font-weight: 300;
  text-transform: uppercase; }

.raleway-600 {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
}

.container {
  margin: 0 auto;
  width: 620px;
  padding: 0 5px; }

.content {
  text-shadow: 0 1px 0px #FFF;
  margin-bottom: 0;
  margin-bottom: 3em;
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px; }

.links { }
  .links a {
    margin: 8px 4px;
    color: #7F7F7F;
    transition: color .2s linear; }
  .links a:hover {
    transition-duration: .1s; }
  .links .dribbble:hover,
  .links .dribbble:active   { color: #E24FAC; }
  .links .email:hover,
  .links .email:active      { color: #000000; }
  .links .facebook:hover,
  .links .facebook:active   { color: #3B5998; }
  .links .github:hover,
  .links .github:active     { color: #3C3C3C; }
  .links .linkedin:hover,
  .links .linkedin:active   { color: #4875B4; }
  .links .spotify:hover,
  .links .spotify:active    { color: #61D569; }
  .links .rss:hover,
  .links .rss:active        { color: #008C9E; }
  .links .soundcloud:hover,
  .links .soundcloud:active { color: #FF3300; }
  .links .twitter:hover,
  .links .twitter:active    { color: #3098E6; }
  .links .vimeo:hover,
  .links .vimeo:active      { color: #1ab7ea; }

.bio br {
  content: "";
  display: block;
  height: 0;
  margin: .8em 0;
}

.headshot {
  border-style: solid;
  border-color: white;
  border-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  margin: 3px;
  border-radius: 50%;
  overflow: hidden; }

.homepage {
  margin-top: 56px; }
  .homepage .headshot,
  .homepage .headshot img {
    height: 200px;
    width: 200px; }
  .homepage .headshot {
    border-width: 5px;
    margin-bottom: 28px;
    margin-left: auto;
    margin-right: auto; }
  .homepage .bio {
    text-align: left; }
  .homepage .left-column p {
    font-size: 0.9rem;
    margin: 12px 0; }
  .homepage .left-column {
    width: 360px;
    padding: 0 24px;
    float: left;
    box-shadow: 14px 0 24px -28px rgba(0, 0, 0, 0.7) }
  .homepage .salutation {
    font-size: 24px;
    line-height: 42px;
    text-align: center; }
  .homepage .links {
    text-align: center;
    font-size: 20px;
    line-height: 20px;
    margin: 32px 0; }
  .homepage .right-column {
    margin-left: 408px;
    padding: 0 24px 0 36px; }
  .homepage .right-column h1 {
    font-size: 11px;
    text-transform: uppercase;
    margin-bottom: 20px;
    opacity: 0.6; }
  .homepage .right-column ul {
    list-style: none;
    margin: 0;
    padding: 0; }
  .homepage .right-column li {
    margin-bottom: 46px; }
  .homepage .right-column li a {
    font-size: 20px; }
  .homepage .right-column li p {
    font-weight: 400;
    color: #999 }
  .homepage .right-column .more {
    font-size: 14px;
    line-height: 20px;
    text-align: center; }
  .homepage .right-column .meta {
    color: #999;
    font-size: 14px;
    float: right;
    margin-left: 10px;}


.blog-index { }
  .blog-index .header {
    margin-bottom: 14px;
    padding: 14px 0; }
    .blog-index .header .headshot {
      margin-top: -2px; }
    .blog-index .header .headshot,
    .blog-index .header .headshot img {

      height: 64px;
      width:  64px; }
    .blog-index .header .headshot {
      float: left;
      margin-right: 20px;
      border-width: 2px; }
    .blog-index .header .salutation {
      -webkit-transition: color .6s linear;
      -moz-transition: color .6s linear;
      transition: color .6s linear;
      font-size: 28px;
      line-height: 64px;
      color: #7F7F7F; }
    .blog-index .header a:hover .salutation {
      -webkit-transition: color .2s linear;
      -moz-transition: color .2s linear;
      transition: color .2s linear;
      color: #008C9E; }
    .blog-index .header .links {
      float: right;
      font-size: 22px;
      line-height: 64px; }
  .blog-index .post {
    clear: both;
    margin-bottom: 28px; }
  .blog-index .post .title,
  .blog-index .post .date {
    line-height: 28px; }
  .blog-index .post .title {
    font-size: 18px;
    line-height: 28px;
    margin: 0 80px 7px 0; }
  .blog-index .post .date,
  .blog-index .post .snippet {
    color: #999; }
  .blog-index .post .date {
    font-size: 14px;
    float: right; }
  .blog-index .post .snippet {
    font-weight: 400; }
  .blog-index .subscribe {
    text-align: right; }

.blog-show { }
  .blog-show .post {
    margin-bottom: 34px;
    padding-bottom: 22px;
    box-shadow: 0 14px 24px -28px rgba(0, 0, 0, 0.7); }
    .blog-show .post h1, .blog-show .post h2, .blog-show .post h3,
    .blog-show .post h4, .blog-show .post h5, .blog-show .post h6,
    .blog-show .post th {
      font-family: "Raleway", sans-serif;
      font-weight: 600; }
    .blog-show .post h1 {
      text-align: center;
      font-size: 36px;
      line-height: 42px;
      margin: 35px 0 14px; }
    .blog-show .post h2 {
      font-size: 26px;
      line-height: 35px;
      margin-bottom: 14px; }
    .blog-show .post h3 {
      font-size: 18px;
      line-height: 28px; }
    .blog-show .post h4,
    .blog-show .post h5,
    .blog-show .post h6 {
      font-size: 14px;
      line-height: 21px; }
    .blog-show .post p {
      text-align: justify; }
    .blog-show .post p a {
      font-weight: 600; }
    .blog-show .post hr {
      display: block;
      height: 1px;
      border: 0;
      border-top: 1px solid #CCC;
      border-bottom: 1px solid white;
      margin: 28px 0;
      padding: 0; }
    .blog-show .post .body img,
    .blog-show .post .body object,
    .blog-show .post .body iframe {
      display: block;
      border: 10px solid #FFF;
      box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
      border-radius: 3px;
      -moz-border-radius: 3px;
      -webkit-border-radius: 3px;
      margin-left: auto;
      margin-right: auto;
      max-width: 644px; }
    .blog-show .post .body p,
    .blog-show .post .body .highlight,
    .blog-show .post .body table,
    .blog-show .post .body img,
    .blog-show .post .body object,
    .blog-show .post .body iframe,
    .blog-show .post .body .highlight {
      margin-bottom: 14px }
    .blog-show .post .body .footnotes {
      font-size: 12px;
      line-height: 18px;
      padding: 1em;
      margin-top: 2em;
      background: rgba(0, 0, 0, 0.05);
      border-radius: 5px; }
    .blog-show .post .body .footnotes p:last-child {
      margin-bottom: 0; }
    .blog-show .post .body .left {
      float:  left;
      margin: 0 30px 10px 0; }
    .blog-show .post .body .right {
      float:  right;
      margin: 0 0 10px 30px; }
    .blog-show .post .body blockquote {
      font-style: italic; }
    .blog-show .post .body .highlight,
    .blog-show .post .body blockquote {
      margin-right: 20px;
      margin-left: 20px; }
    .blog-show .post .byline {
      text-align: center;
      font-size: 14px;
      font-weight: 300;
      line-height: 21px;
      margin-bottom: 35px;
      color: #999; }
    .blog-show .post .byline a {
      font-weight: 400; }
    .blog-show .post .footer {
      margin-top: 20px;
      min-height: 28px; }
      .blog-show .post .footer .comments {
        line-height: 20px;
        float: right; }
      .blog-show .post .footer .fb-like,
      .blog-show .post .footer .twitter-follow-button {
        margin-right: 0.7em;
        display: inline-block; }
      .blog-show .post .footer .fb-like span {
        vertical-align: top !important; }
  .blog-show .about-the-author { }
    .blog-show .about-the-author .salutation,
    .blog-show .about-the-author .bio,
    .blog-show .about-the-author .valediction,
    .blog-show .about-the-author .links {
      margin-left: 129px; }
    .blog-show .about-the-author .headshot,
    .blog-show .about-the-author .headshot img {
      height: 98px;
      width: 98px; }
    .blog-show .about-the-author .headshot {
      float: left;
      margin: 0 20px 0 3px;
      border-width: 4px; }
    .blog-show .about-the-author p {
      font-size: 0.9rem; }
    .blog-show .about-the-author .bio p {
      display: inline; }
    .blog-show .about-the-author p a {
      font-weight: 400; }
    .blog-show .about-the-author .salutation {
      font-size: 1.2em;
      margin-bottom: .5em;
      margin-top: 1em; }
    .blog-show .about-the-author .valediction {
      margin-top: 1em; }
    .blog-show .about-the-author .links {
      clear: both;
      margin-top: 18px;
      font-size: 28px;
      line-height: 36px; }

/* iPhone (portrait & landscape) */
@media only screen and (max-width: 480px) {
}

@media only screen and (max-width: 800px) {
  .homepage .left-column {
    width: 300px;
  }
  .homepage .right-column {
    margin-left: 348px;
  }
}

@media only screen and (max-width: 640px) {
  .container {
    width:  90%;
    margin: 0 5%; }

  .blog-index .links {
    display: none; }

  .blog-show .post img {
    max-width: 260px; }

  .blog-show .post .footer .comments {
    line-height: 28px;
    float: none; }
  .blog-show .about-the-author {
    text-align: left; }
    .blog-show .about-the-author .salutation,
    .blog-show .about-the-author .bio,
    .blog-show .about-the-author .valediction,
    .blog-show .about-the-author .links {
      margin-left: 0; }
    .blog-show .about-the-author .headshot,
    .blog-show .about-the-author .headshot img {
      height: 120px;
      width: 120px; }
    .blog-show .about-the-author .headshot {
      float: none;
      margin: 0 auto;
      border-width: 4px; }
    .blog-show .about-the-author .salutation {
      text-align: center; }
    .blog-show .about-the-author p {
      margin: 14px 0; }
    .blog-show .about-the-author .links {
      text-align: center; }

  .homepage {
    margin-top: 30px; }
    .homepage .left-column p {
      margin: 10px 0; }
    .homepage .left-column {
      width: 92%;
      padding: 0 4% 32px;
      float: none;
      box-shadow: 0 14px 24px -28px rgba(0, 0, 0, 0.7) }
    .homepage .right-column {
      margin-left: 0;
      padding: 32px 4%; }
    .homepage .links a {
      display: inline-block;
}
