body {
  font-family: Arial;
  max-width: 600px;
  margin: 0 auto;
}

a {
  font-weight: bold;
  color: rgba(7, 116, 195, 0.8);
}


.jumps {
  padding: .6em;
  margin-bottom: .8em;
  color: rgba(0, 0, 0, 0.5);
  font-size: .7em;
}

.jumps a {
  text-decoration: none;
}

.jumps a:hover {
  color: rgba(7, 116, 195, 1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.jumps a:active {
  background-color: white;
}

.track-details {
  font-size: 0.6em;
  text-transform: uppercase;
  margin: 2em 0;
}
