body {
  font-family: Arial;
  max-width: 600px;
  margin: 0 auto;
  background-color: rgb(89, 77, 96);
  padding-bottom: 2em;
}

a {
  font-weight: bold;
  color: rgba(7, 116, 195, 0.8);
}

.track {
  background-color: white;
  margin: 1.5em 1em 0;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.1);
  border-width: 1px 1px 0;
  border-radius: 1em 1em 0 0;
  box-shadow: 0 0 .2em rgba(0, 0, 0, 0.2);
  padding: 0 1.5em 2em;
}

.track-release {
  float: right;
  font-size: .5em;
  opacity: 0.4;
}

.track:not(:first-child) {
  margin-top: -1.5em;
}

.track:last-child {
  padding-bottom: 1em;
  border-radius: 1em;
}

.track a {
  text-decoration: none;
}

.track a:hover {
  color: rgba(7, 116, 195, 1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.track a:active {
  background-color: white;
}

.track-details {
  font-size: 0.7em;
  margin-top: 1em;
}
