body#web-20-graphics-and-design-presentation div#content {
  background: #363636;
  width: 676px;
  margin-left: 90px;
  margin-right: 90px;
  padding: 12px 22px;
}
body#web-20-graphics-and-design-presentation div#content h1,
body#web-20-graphics-and-design-presentation div#content p,
body#web-20-graphics-and-design-presentation div#content div#fass_video {
  margin-bottom: 26px;
}
body#web-20-graphics-and-design-presentation div#content h1 {
  font-size: 18px;
  line-height: 18px;
}
body#web-20-graphics-and-design-presentation div#content p {
  color: #D4D4D4;
}
body#web-20-graphics-and-design-presentation div#content div#fass_video {
  border: 8px solid black;
  margin: 0 auto 30px;
  width: 500px;
}
