/* Backgrounds */
html {
}
body {
  background-image:none;
}
.wufoo .info {
  border: none;
  margin-bottom: 14px;
  width: 100%;
}
.wufoo .info h2 {
  display: none;
}
.wufoo .info div {
  font-size: 12px;
  font-family: inherit;
  color: #D4D4D4
}

#container {
  background: transparent;
  border: none;
}
form.wufoo {
  margin: 0;
  padding: 0;
}
.wufoo li {
  color: #D4D4D4;
  padding: 0;
  margin-bottom: 10px;
}
.wufoo li.focused {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}
.wufoo li div {
  margin-right: 0;
}
.wufoo label.desc {
  font-size: 12px;
  font-family: inherit;
  font-weight: normal;
}
.wufoo li label.desc,
.wufoo li.focused label.desc {
  color: #6c6c6c;
  float: left;
  padding: 3px 0;
}
.wufoo li#fo1li4 {
  margin-bottom: 0px;
}
.wufoo input.text, 
.wufoo textarea.textarea {
  font-size: 13px;
  background: #c2c2c2;
  border: 1px solid #000;
  padding: 3px;
}
.wufoo input.text {
  width: 220px;
  float: right;
}
.wufoo textarea.textarea {
  height: 250px;
  min-width: 328px;
  width: 328px;
}
.wufoo input.submit {
  color: white;
  background: black;
  border: none;
  border-top: 2px solid #bf0000;
  padding: 4px 9px;
}
.wufoo li.buttons a {
  color: #868686;
  text-decoration: none;
}