---
layout: default
menu: Blog
body_id: blog
stylesheet: blog
---
<div id="post" class="box">
  <h1>{{ page.title }}</h1>

  <div id="date">
    {{ page.date | date: "%B %d, %Y" }}

    {% if page.guest_blog_name %}
      <span class="guest-blog">
        for
        <a href="{{ post.guest_blog_url }}" target="_blank">
          {{ page.guest_blog_name }}
        </a>
      </span>
    {% endif %}
  </div>


  <div id="body">
    {{ content }}
  </div>
</div>

{% if page.hacker_news_link %}
  <div id="comments">
    <a href="{{ page.hacker_news_link }}">Comments on Hacker News</a>
  </div>
{% endif %}
