<!DOCTYPE html>

<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <title>{{ page.title }} &middot; Avand</title>

    <link href="http://fonts.googleapis.com/css?family=Inconsolata|Ubuntu:500|Open+Sans:300italic,400italic,300,400,600" rel="stylesheet" type="text/css">

    <link href="/stylesheets/reset.css"  media="screen" rel="stylesheet" type="text/css" />
    <link href="/stylesheets/screen.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="/stylesheets/syntax.css" media="screen" rel="stylesheet" type="text/css" />

    <link rel="icon" href="/favicon" type="image/gif"> 

    <link href="/webfonts/ss-social.css" rel="stylesheet" />

    <meta name="viewport"                 content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" />
    <meta name="google-site-verification" content="GvOKlbAa5mnejlxPQ2xcBGgk1gv9Q53YvQrrHp0FfvE" />
  </head>
  
  <body>
    <div class="content">
      {{ content }}
    </div>

    <script type="text/javascript">
      var _gauges = _gauges || [];
      (function() {
        var t   = document.createElement('script');
        t.type  = 'text/javascript';
        t.async = true;
        t.id    = 'gauges-tracker';
        t.setAttribute('data-site-id', '507b54bff5a1f563fc000021');
        t.src = '//secure.gaug.es/track.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(t, s);
      })();
    </script>
  </body>
</html>
